{% extends 'tour_base.html' %}

{% block title %}All Tours{% endblock %}

{% block main-content %}
    {% if request.session.status %}
                {% for tour in request.session.tours %}
                    <div class = "row">
                        <div class="col w-50 h-100">
                            <img src="{{ tour.tour_image }}" alt="Tour Art" class="img-responsive img-thumbnail w-auto h-auto" />
                        </div>
                        <div class="col w-50 h-100 text-secondary">
                            <Strong>{{ tour.tour_name }}</strong><br /><br />
                            {% for show in tour.shows %}
                                {{ show.show_city }}, 
                                {{ show.show_state }} <br />
                                {{ show.show_time }}
                                {{ show.show_date }} <br />
                            {% endfor %}<br /><br />
                        </div>
                        </div>
                        <div class="spacer">
                    </div>
                {% endfor %}
                </div>
            </div>
    {% endif %}
{% endblock %}
