{% extends 'newsfeed_base.html' %}

{% block title %}Delete Newsfeed Post{% endblock %}

{% block main-content %}
        {% if not request.session.status %}
            {% for error in request.session.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <form action="delete_post" method="post"">
            {% csrf_token %}
            {% if request.session.entries_list_json %}
            <div class="form-group">
                    <label for="target_entry_id" class="w-auto col-select-label">Select Post:</label>
                    <select class="form-control" id='target_entry_id' name='target_entry_id'>
                    {% for entry in request.session.entries_list_json %}
                            <option value="{{entry.post_id}}">{{entry.post_id}} &nbsp;&nbsp;&nbsp;&nbsp; {{entry.post_content}}</option>
                        {% endfor %}
                    </select>
            </div>
            {% endif %}
            <div class="form-group">
                <button class="btn btn-primary" type="submit" value="Delete" >Delete Post</button>
            </div>
        </form>
{% endblock %}
