{% extends 'store_base.html' %}

{% block title %}Admin/Store/All Items{% endblock %}

{% block main-content %}
    {% if request.session.status %}
        <div class="row store-row">
            {% for item in request.session.all_items %}
                <div class="col h-50 w-50">
                    <img class="img-responsive img-thumbnail" src="{{ item.item_image }}" /> <br /><br />
                </div>
                <div class="col h-50 w-50">
                    {{ item.item_name }} <br />
                    {{ item.item_price }} <br />
                    {{ item.item_description }} <br />
                    !! Add to Cart !! <br />
                    !! Checkout with paypal !!  <br />
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No items found! Have you added any? </h1>
    {% endif %}
{% endblock %}
