{% extends 'Front_End_base.html' %}

{% block title %}Home{% endblock %}

{% block background-image %}
    {% load static %}
    <div class="container-fluid text-elegant justify-content-center " 
        style="background-image: url('{% static 'Front_End/Kyle_Image_1.jpeg' %}'); background-repeat:no-repeat; max-width:100%; max-height:100%; background-position:center"> 
{% endblock %}

{% block main-content %}
    <div class="overflow-auto text-secondary h-100 w-100" style="text-align:center;">
    {% if request.session.status %}
        {% for post in request.session.all_posts %}
            <div class="row h-auto">
                <div class="col-12">
                    <div class="row h-auto">
                        <div class="col-12 h-auto">
                            <img src="{{ post.post_media }}" Alt="Update Image" class = "img-responsive w-auto h-auto" />
                        </div>
                    </div>
                    <div class="row" style="height:5%">
                        <div class="col-12">
                            Posted at {{ post.post_time }} on {{ post.post_date }}<br /> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        {% endfor %}
    {% else %}
        {{ request.session.errors }}
    {% endif %}
    </div>
{% endblock %}
