
{% extends 'Front_End_base.html' %}

{% block title %} Store {% endblock %}

{% block background-image %}
    {% load static %}
    <div class="container-fluid text-elegant content-justify-center " 
        style="background-image: url('{% static 'Front_End/Kyle_Image_1.jpeg' %}'); background-repeat:no-repeat; background-position:center"> 
{% endblock %}


{% block main-content %}
    {% if request.session.status %}
        <div class="row music-row">
            {% for item in request.session.all_items %}
                <div class="col col-6">
                    <img class="img-responsive w-auto h-auto" src="{{ item.item_image }}" /> <br /><br />
                </div>
                <div class="col col-6">
                    {{ item.item_name }} <br />
                    {{ item.item_price }} <br />
                    {{ item.item_description }} <br />
                    !! Add to Cart !! <br />
                    !! Checkout with paypal !!  <br />
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
