{% extends 'Front_End_base.html' %}

{% block title %} Store {% endblock %}

{% block background-image %}
    {% load static %}
    <div class="container-fluid text-elegant content-justify-center" 
        style="background-image: url('{% static 'Front_End/kyle_Image_3.jpeg' %}'); background-repeat:no-repeat; background-position:center">  
{% endblock %}

{% block main-content %}
    <div class="row w-auto" style="height:5%;"></div>
    <div class="row h-auto w-100" style="text-align:center;">
        {% if request.session.tours %}
            {% for tour, shows in request.session.tours.items %}
                <div class="col col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6 h-50 text-secondary">
                    <Strong>{{ tour }}</strong><br /> <br />
                    {% for individual_show, individual_show_info in shows.items %}
                        {{ individual_show_info.show_city }}, 
                        {{ individual_show_info.show_state }} <br />
                        {{ individual_show_info.show_time }}
                        {{ individual_show_info.show_date }} <br />
                    {% endfor %}<br /><br />
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
