{% extends 'Front_End_base.html' %}

{% block title %} Tours {% endblock %}

{% block background-image %}
    {% load static %}
    <div class="container-fluid text-elegant content-justify-center" 
        style="background-image: url('{% static 'Front_End/IMG_0718.jpeg' %}'); background-repeat:no-repeat; background-position:center">  
{% endblock %}

{% block main-content %}
    <div class="overflow-auto">
        {% if request.session.status %}
            {% if request.session.tours %}
                {% for tour in request.session.tours %}
                    <div class="justify-content-center row h-50 ">
                        <div class="col w-50">
                            <img src="{{ tour.tour_image }}" alt="Tour Art" class="img-responsive img-thumbnail w-auto h-auto" />
                        </div>
                        <div class="col w-50 text-secondary">
                            <Strong>{{ tour.tour_name }}</strong><br /><br />
                            {% for show in tour.shows %}
                                &nbsp;&nbsp;&nbsp;{{ show.show_city }}, 
                                &nbsp;&nbsp;&nbsp;{{ show.show_state }} <br />
                                &nbsp;&nbsp;&nbsp;{{ show.show_time }}
                                &nbsp;&nbsp;&nbsp;{{ show.show_date }} <br />
                            {% endfor %}<br /><br />
                        </div>
                        </div>
                        <div class="spacer">
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
