{% extends 'music_base.html' %}

{% block title %}Add Album{% endblock %}

{% block main-content %}
    {% if request.session.errors %}
        {% for error in request.session.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    <form action="process_album_data" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group h-auto">
            <label for="album_name" class="col-form-label">Album Name:</label>
            <input type="text" class="form-control" id="album_name" name="album_name" placeholder="Enter Album Name"/>
        </div>
        <div class="form-group h-auto">
            <label class="col-form-label col-2">Album Date:</label>
            <input type="Date" class="col-10 form-control" placeholder="Enter Album Date" id="album_date" name="album_date" />
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="album_image" id="album_image" required>
            <label class="custom-file-label">Album Cover Image</label>
        </div>
        <br /><br />
        <div class="form-group h-auto w-auto">
            <button type="submit" class="btn btn-primary" value="Add Album" />Add Album</button>
        </div>
    </form>
{% endblock %}
